fastapi
uvicorn[standard]
pydantic
openai
openenv-core
huggingface_hub[cli]
transformers
tokenizers
langchain-openai
sentence-transformers
camelot
langchain-text-splitters
langchain-objectbox 
langchain
langchain-community
flask-sqlalchemy